@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: 'GmarketSansMedium';
    text-underline-position: under;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.menu-box-1 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu-box-1 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-box-1 li {
    list-style: none;
    font-size: 30px;
    color: white;
}

.menu-box-1 > ul > li:hover > a {
    text-decoration: underline;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    text-decoration: underline;
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-menu a {
    text-decoration: none;
}

table {
    margin: auto;
}